<template>
  <div>
    <h2 id="alias" class="
    text-2xl
    font-medium

    text-nord-polarNight-100
    dark:text-nord-snowStorm-300"
    >AnUnknownAlias</h2>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class Logo extends Vue {
}
</script>

<style lang="scss">

@use "sass:math";

$background: white;
$foreground: #aab5c1;

@mixin gitchText($offset, $text, $duration, $iterCount) {
  content: $text;
  position: absolute;
  left: $offset;
  top: $offset;
  clip: rect(0, 900px, 0, 0); 
  background-color: $background;
  color: $foreground;
  animation: glitch $duration $iterCount alternate-reverse;
  animation-delay: 0.2s;
}

#alias:hover {
  cursor: pointer;
  margin: 0px 10px 0px 0px;
  text-align: left;
  position: relative;
  &:after {
    @include gitchText(2px, 'AnUnknownAlias', 3s, infinite);
    @apply dark:bg-nord-polarNight-400;
  }
  &:before {
    @include gitchText(-2px, 'AnUnknownAlias', 3s, infinite);
    @apply dark:bg-nord-polarNight-400;
  }
}

@media only screen and (max-width: 768px) {
  #alias {
    &:after {
      @include gitchText(2px, 'AnUnknownAlias', 3s, 1);
      @apply dark:bg-nord-polarNight-400;
    }
    &:before {
      @include gitchText(-2px, 'AnUnknownAlias', 3s, 1);
      @apply dark:bg-nord-polarNight-400;
    }
  }
}

@keyframes glitch {
  $steps: 20;
  @for $i from 0 through $steps{
    #{percentage($i * math.div(1,  $steps))}{
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
    }
  }
}

</style>

