<template>
  <div class="max-w-3xl mx-auto px-3 lg:p-0">

    <h1 class="
      mt-10
      mb-5
      text-5xl
      text-nord-polarNight-400
      dark:text-nord-snowStorm-300
      font-semibold
      leading-none"
    >{{ post.title }}</h1>

    <nav id="postNav" class="my-8">
      <ul>
        <li v-for="link of post.toc" :key="link.id">
          <NuxtLink :to="`#${link.id}`" 
            :class="{ 'py-2': link.depth === 2, 'ml-2 pb-2': link.depth === 3 }" 
            class="
              text-nord-polarNight-200
              dark:text-nord-frost-300
              dark:hover:text-nord-frost-400
              underline"
          >{{ link.text }} </NuxtLink>
        </li>
      </ul>
    </nav>

  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import { IContentDocument } from '@nuxt/content/types/content'

@Component
export default class PostNav extends Vue {
  @Prop() private post!: IContentDocument;
}
</script>
