<template>
    <li class="
      m-auto
      my-4
      pl-2
      hover:cursor-pointer

      md:border-l-2
      md:border-transparent

      md:hover:border-nord-polarNight-100
      md:hover:dark:border-nord-snowStorm-100

      text-nord-polarNight-100 
      hover:text-nord-polarNight-400

      dark:text-nord-snowStorm-300
      dark:hover:text-nord-snowStorm-100
    "
    >
        <NuxtLink :to="`/posts/${data.slug}`">
            <div>
                <h1 class="font-bold text-3xl">{{ data.title }}</h1>
                <div class="
                text-sm
                bg-gray-200
                dark:bg-nord-polarNight-300
                rounded
                inline-block"
                >
                    <div class="mx-1 my-0.5">
                      {{ postCreationDate }} | {{ postUpdatedDate }}

                    <svg class="pb-0.5 inline-block w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>

                      {{ postReadingTime }}
                    </div>
                </div>
                <p>{{ data.description }}</p>
            </div>
        </NuxtLink>
    </li>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { formatDistanceToNowStrict, format } from 'date-fns'
import { IContentDocument } from '@nuxt/content/types/content'

@Component
export default class PostLink extends Vue {
  @Prop() private data!: IContentDocument;

  private postCreationDate = "";
  private postUpdatedDate = "";
  private postReadingTime = "";

  mounted() {
      this.postCreationDate = this.data.gitCreatedAt ? 
        format(new Date(this.data.gitCreatedAt), "MMM dd yyyy") : '';

      this.postUpdatedDate = 
        this.data.gitUpdatedAt ? 
          " updated "
          + formatDistanceToNowStrict(new Date(this.data.gitUpdatedAt), {})
          + " ago" : "";

      this.postReadingTime = this.data.stats.text;
  }
}
</script>

<style>
</style>
