<template>
    <div>
        <Banner />

        <PostNav :post=post />

        <div class="md:flex md:justify-center mx-2 md:mx-0">
          <NuxtContent :document="post" class="prose prose-xs lg:prose-xl dark:prose-dark" />
        </div>

        <Footer />

    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import Banner from '../../components/Banner.vue'
import Footer from '../../components/Footer.vue'

@Component({
    components: {
        Banner,
        Footer,
    },
})
export default class PostPage extends Vue {
  private post: any = {};

  async beforeMount() {
    this.post = await this.$content('posts', this.$route.params.slug ).fetch()

    const pageData = this.post.title
    const _res = await fetch("/.netlify/functions/page-load", {
        method: 'POST',
        headers: {
        'Content-Type': 'application/json'
        },
        body: JSON.stringify(pageData)
      }
    )
  }
}
</script>

<style>

.nuxt-content .filename {
  position: absolute;
  right: 0;
  --text-opacity: 1;
  margin-right: .5rem;
  font-size: .875rem;
}

.nuxt-content-highlight {
  position: relative;
}

.nuxt-content-highlight .filename {
  top: 0;
  color: #cbd5e0;
  color: rgba(203,213,224,var(--text-opacity));
  font-weight: 300;
  z-index: 10;
  margin-top: .25rem;
}

</style>
