<template>
  <div class="h-screen"> <!-- Hmmmm -->
    <Banner />
    <ul class="mx-auto mx-0 p-0 max-w-prose list-none">
       <PostLink
          v-for="post in posts"
          :key="post.title"
          :data="post"
       />
    </ul>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import Banner from '../components/Banner.vue'
import PostLink from '../components/PostLink.vue'

@Component({
  components: {
    Banner,
    PostLink,
  },
})
export default class Home extends Vue {
    private posts: any = [];

    async beforeMount() {
      this.posts = await this.$content('posts').only(
        [
          'title',
          'description',
          'slug',
          'stats',
          'gitCreatedAt',
          'gitUpdatedAt'
        ]).sortBy('gitCreatedAt', 'desc').fetch();

    const _res = await fetch("/.netlify/functions/page-load", {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: "Main Page"
    })
  }
}
</script>

<style>
</style>
