<template>
  <div class="alert border-l-4 p-4 mb-4 mt-4 rounded-md" :class="`alert-${type}`">
    <div class="flex items-start">
      <div class="flex-shrink-0">
        <component :is="icon" class="alert-icon mt-px w-6 h-6" />
      </div>
      <div class="flex-grow ml-2 overflow-auto alert-content">
        <slot />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      default: 'info',
      validator (value) {
        return ['info', 'success', 'warning', 'danger'].includes(value)
      }
    }
  },
  computed: {
    icon () {
      return ({
        info: 'IconInformationCircle',
        success: 'IconCheckCircle',
        warning: 'IconExclamationCircle',
        danger: 'IconXCircle'
      })[this.type]
    }
  }
}
</script>

<style>

.alert p {
  @apply m-0 !important;
}

.alert a {
  @apply text-gray-700 !important;
}

.alert strong {
  @apply text-current;
}

.alert-content pre code {
  background-color: inherit !important;
}

/* Info */
.alert-info {
  @apply bg-nord-frost-300 border-nord-frost-400;
}

/* .alert-info code { */
/*   @apply bg-nord-frost-200 shadow-none border-0 text-current; */
/* } */

.alert-info .alert-icon {
  @apply text-nord-frost-400;
}

.alert-info .alert-content {
  @apply text-nord-polarNight-400;
}

.dark-mode .alert-info {
  @apply bg-nord-polarNight-100 border-nord-frost-300;
}

/* .alert-info code { */
/*   @apply bg-nord-frost-200 shadow-none border-0 text-current; */
/* } */

.dark-mode .alert-info .alert-icon {
  @apply text-nord-frost-300;
}

.dark-mode .alert-info .alert-content {
  @apply text-nord-snowStorm-300;
}

/* Success */
.alert-success {
  @apply bg-green-100 border-green-400;
}

.alert-success code {
  @apply bg-green-200 shadow-none border-0 text-current;
}

.alert-success .alert-icon {
  @apply text-green-400;
}

.alert-success .alert-content {
  @apply text-green-700;
}

/* Warning */
.alert-warning {
  @apply bg-yellow-100 border-yellow-400;
}

.alert-warning code {
  @apply bg-yellow-200 shadow-none border-0 text-current;
}

.alert-warning .alert-icon {
  @apply text-yellow-400;
}

.alert-warning .alert-content {
  @apply text-yellow-700;
}

/* Danger */
.alert-danger {
  @apply bg-red-100 border-red-400;
}

.alert-danger code {
  @apply bg-red-200 shadow-none border-0 text-current;
}

.alert-danger .alert-icon {
  @apply text-red-400;
}

.alert-danger .alert-content {
  @apply text-red-700;
}

</style>
