<template>
  <div>
    <div>
      <img ref="img" :src=imageLink  class="bg-white cursor-pointer" @click="showFull"/>
    </div>
    <div
      v-show="showFullImage"
      v-offClick="{
        exclude: ['img'],
        handler: 'closeImage',
      }"

      class="
      bg-white 

      fixed
      top-1/2
      left-1/2
      transform
      -translate-y-1/2
      -translate-x-1/2
      h-auto w-11/12
      lg:w-3/4
      z-50
      "

      @click="showFull"
    >
      <img 
        :src=imageHover
        class="h-auto w-auto z-50"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class Logo extends Vue {
  @Prop() private imageLink!: string;
  @Prop() private imageHover!: string;

  private showFullImage = false;

  showFull() {
    if (this.showFullImage) {
      this.showFullImage = false;
      return;
    }
    this.showFullImage = true;
  }

  closeImage() {
    this.showFullImage = false;
  }
}
</script>

