<template>
  <div>
    <div v-for="(item, i) in items" :key="i" class="mt-3 flex">
      <span :class="`list-${type}`" class="mt-px mr-3 flex-shrink-0">
        <component :is="icon" class="h-6 w-6" />
      </span>
      {{ item }}
    </div>
  </div>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      default: () => []
    },
    type: {
      type: String,
      default: 'success',
      validator (value) {
        return ['info', 'success', 'warning', 'danger'].includes(value)
      }
    }
  },
  computed: {
    icon () {
      return ({
        info: 'IconInformationCircle',
        success: 'IconBadgeCheck',
        warning: 'IconExclamationCircle',
        danger: 'IconXCircle',
        x: 'IconX'
      })[this.type]
    }
  }
}
</script>

<style>
/* Info */
.list-info {
  @apply text-nord-aurora-pink;
}
/* Success */
.list-success {
  @apply text-nord-frost-300;
}
.dark-mode .list-success {
  @apply text-nord-aurora-green;
}
/* Warning */
.list-warning {
  @apply text-nord-aurora-yellow;
}
/* Danger */
.list-danger {
  @apply text-nord-aurora-red;
}
</style>
